<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item cursor-pointer" [ngClass]="{'active': last,'disable-block': last}" [routerLink]="page.url" *ngFor="let page of pageInfo; let i = index; let last = last"><a>{{page.name}}</a></li>
  </ol>
</nav> -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item cursor-pointer" [ngClass]="{'active': last,'disable-block': last}" [routerLink]="page.url" *ngFor="let page of pageInfo; let i = index; let last = last"><a>{{page.name}}</a></li>
  </ol>
</nav>