<div class="pagination-container">
    <!-- <div class="pagination-info">
      <span>Records: {{ currentPageStart }} - {{ currentPageEnd }} of {{ totalItems }}</span>
    </div> -->
    <div class="pagination-controls">
      <button mat-icon-button [disabled]="currentPage === 1" (click)="goToFirstPage()">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-icon-button [disabled]="currentPage === 1" (click)="goToPreviousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
        <span>Records: {{ currentPageStart }} - {{ currentPageEnd }} of {{ totalItems }}</span>
      <!-- <ng-container *ngFor="let page of pages">
        <button mat-icon-button [disabled]="currentPage === page" (click)="goToPage(page)">
          {{ page }}
        </button>
      </ng-container> -->
      <button mat-icon-button [disabled]="currentPage === totalPages" (click)="goToNextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-icon-button [disabled]="currentPage === totalPages" (click)="goToLastPage()">
        <mat-icon>last_page</mat-icon>
      </button>
      <!-- <div class="page-size-selector"> -->
        <mat-form-field>
          <mat-select [(value)]="pageSize" (selectionChange)="onPageSizeChange($event.value)">
            <mat-option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      <!-- </div> -->
    </div>
  </div>


<!-- New set of code -->


  @switch (type) {
    @case ('numbers') {
   <ng-container *ngFor="let page of pages">
    <button class="number-button" [disabled]="currentPage === page" (click)="goToPage(page)">
      {{ page }}
    </button>
  </ng-container>
    }
    @case ('fullnumbers') { 
     <ng-container *ngFor="let page of totalPageItems; let i = index">
      <button class="number-button" [disabled]="currentPage === page" (click)="goToPage(page)">
        {{ page }}
      </button>
    </ng-container>
       }
       @case ('singlenumber') { 
        <div class="pagination-container">
          <div class="pagination-controls">
            <button class="icon-button" [disabled]="currentPage === 1" (click)="goToFirstPage()">
              &lt;&lt;
            </button>
            <button class="icon-button" [disabled]="currentPage === 1" (click)="goToPreviousPage()">
              &lt;
            </button>
        
              <button
                class="page-number"
              >
                {{ currentPage }}
              </button>
        
            <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToNextPage()">
              &gt;
            </button>
            <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToLastPage()">
              &gt;&gt;
            </button>
          </div>
        </div>  
     
         }
       @case ('singlenumberWithPrevNext') { 
        <div class="pagination-container">
          1 to {{totalPages}}
          <div class="pagination-controls">
            <button class="icon-button" [disabled]="currentPage === 1" (click)="goToFirstPage()">
              &lt;&lt;
            </button>
            <button class="icon-button" [disabled]="currentPage === 1" (click)="goToPreviousPage()">
              &lt;
            </button>
        
              <button
                class="page-number"
              >
                {{ currentPage }}
              </button>
        
            <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToNextPage()">
              &gt;
            </button>
            <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToLastPage()">
              &gt;&gt;
            </button>
          </div>
        </div>  
     
         }
    @case ('numbersWithButton') {
      <div class="pagination-container">
        <div class="pagination-controls">
          <button class="icon-button" [disabled]="currentPage === 1" (click)="goToFirstPage()">
            &lt;&lt;
          </button>
          <button class="icon-button" [disabled]="currentPage === 1" (click)="goToPreviousPage()">
            &lt;
          </button>
      
          <ng-container *ngFor="let page of pages">
            <button
              class="page-number"
              [disabled]="currentPage === page"
              (click)="goToPage(page)"
            >
              {{ page }}
            </button>
          </ng-container>
      
          <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToNextPage()">
            &gt;
          </button>
          <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToLastPage()">
            &gt;&gt;
          </button>
      
          <!-- <div class="page-size-selector">
            <select [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
              <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
            </select>
          </div> -->
          <ng-container *ngTemplateOutlet="pageSizeSelectorTemplate"></ng-container>
        </div>
      </div>      
    }
    @default {
      <div class="pagination-container">
        <div class="pagination-controls">
          <button class="icon-button" [disabled]="currentPage === 1" (click)="goToFirstPage()">
            <<
          </button>
          <button class="icon-button" [disabled]="currentPage === 1" (click)="goToPreviousPage()">
            <
          </button>
          <span>Records: {{ currentPageStart }} - {{ currentPageEnd }} of {{ totalItems }}</span>
          <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToNextPage()">
           >
          </button>
          <button class="icon-button" [disabled]="currentPage === totalPages" (click)="goToLastPage()">
            >>
          </button>
          <div class="page-size-selector">
            <select [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
              <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
      </div>    
    }
  }


  <ng-template #pageSizeSelectorTemplate>
    <div class="page-size-selector">
      <select [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </ng-template>