.tooltip {
    position: absolute;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }
  
  .tooltip-top {
    transform: translateY(-100%);
  }
  
  .tooltip-right {
    transform: translateX(100%);
  }
  
  .tooltip-bottom {
    transform: translateY(100%);
  }
  
  .tooltip-left {
    transform: translateX(-100%);
  }
  