<p>dashboard works!</p>
<app-breadcrumb></app-breadcrumb>
<h2>Posts</h2>
<div class="d-flex" style="gap: 20px;flex-wrap: wrap;">
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Table</h5>
          <p class="card-text">Table and search reusable</p>
          <a routerLink="/dashboard/view" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Table</h5>
          <p class="card-text">(Common Table) reusable </p>
          <a routerLink="/dashboard/table" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/view" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/dashboard/view" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/dashboard/view" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>