<p>dashboard works!</p>
<app-breadcrumb></app-breadcrumb>
<h2>Posts</h2>
<div class="d-flex" style="gap: 20px;flex-wrap: wrap;">
      <div class="card w-25" appPermissions [hideIfNotAuthorized]="'dashboard-view'">
        <div class="card-body">
          <h5 class="card-title">View</h5>
          <p class="card-text">Table and search reusable</p>
          <a routerLink="/dashboard/view" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25" appPermissions [hideIfNotAuthorized]="'dashboard-table'">
        <div class="card-body">
          <h5 class="card-title">Table</h5>
          <p class="card-text">(Common Table) reusable </p>
          <a routerLink="/dashboard/table" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">button</h5>
          <p class="card-text">Reusable button</p>
          <a routerLink="/dashboard/button" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Cache Service</h5>
          <p class="card-text">reusable cache service</p>
          <a routerLink="/dashboard/cache-service" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Cache Service Consume MultipleCalls Component</h5>
          <p class="card-text">CacheServiceConsumeMultipleCallsComponent</p>
          <a routerLink="/dashboard/cache-service-multiple-calls" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Tool Tip Directive</h5>
          <p class="card-text">Tool Tip</p>
          <a routerLink="/dashboard/tooltip-directive" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Drag and Drop</h5>
          <p class="card-text">Single div</p>
          <a routerLink="/dashboard/drag-drop" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Drag and Drop Two div</h5>
          <p class="card-text">Two div</p>
          <a routerLink="/dashboard/drag-drop-twodiv" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Common Form</h5>
          <p class="card-text">Reusable</p>
          <a routerLink="/dashboard/common-form" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Fork Join</h5>
          <p class="card-text">Api call</p>
          <a routerLink="/dashboard/fork-join" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">left to right</h5>
          <p class="card-text">left to right add remove</p>
          <a routerLink="/dashboard/left-right" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">gsign</h5>
          <p class="card-text">gsign</p>
          <a routerLink="/dashboard/g-sign" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">gsign1</h5>
          <p class="card-text">gsign1</p>
          <a routerLink="/dashboard/g-sign1" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">configurable table</h5>
          <p class="card-text">table</p>
          <a routerLink="/dashboard/table-config" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">currency format</h5>
          <p class="card-text">currency</p>
          <a routerLink="/dashboard/currency-config" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">reuse form fields</h5>
          <p class="card-text">form fields</p>
          <a routerLink="/dashboard/reuse-form-fields" class="btn btn-primary">Go</a>
        </div>
      </div>
</div>