<p>currency works!</p>
<p>{{ 123456.789 | currencyFormat : 'LKR' }} - <span>Sri Lanka</span></p>
<p>{{ 12.3456789 | currencyFormat : 'LKR' }} - <span>Sri Lanka</span></p>
<p>{{ 123456.789 | currencyFormat : 'USD' }} - <span>United States</span></p>
<p>{{ 123456.789 | currencyFormat : 'EUR' }} - <span>Germany (Eurozone)</span></p>
<p>{{ 123456.789 | currencyFormat : 'JPY' }} - <span>Japan</span></p>
<p>{{ 123456.789 | currencyFormat : 'GBP' }} - <span>United Kingdom</span></p>
<p>{{ 123456.789 | currencyFormat : 'CAD' }} - <span>Canada</span></p>
<p>{{ 123456.789 | currencyFormat : 'CHF' }} - <span>Switzerland</span></p>
<p>{{ 123456.789 | currencyFormat : 'AUD' }} - <span>Australia</span></p>
<p>{{ 123456.789 | currencyFormat : 'HKD' }} - <span>Hong Kong</span></p>
<p>{{ 123456.789 | currencyFormat : 'NZD' }} - <span>New Zealand</span></p>
<p>{{ 123456.789 | currencyFormat : 'SGD' }} - <span>Singapore</span></p>
<p>{{ 123456.789 | currencyFormat : 'CNY' }} - <span>China</span></p>
<p>{{ 123456.789 | currencyFormat : 'INR' }} - <span>India</span></p>
<p>{{ 123456.789 | currencyFormat : 'KRW' }} - <span>South Korea</span></p>
<p>{{ 123456.789 | currencyFormat : 'THB' }} - <span>Thailand</span></p>
<p>{{ 123456.789 | currencyFormat : 'MYR' }} - <span>Malaysia</span></p>
<p>{{ 123456.789 | currencyFormat : 'IDR' }} - <span>Indonesia</span></p>
<p>{{ 123456.789 | currencyFormat : 'VND' }} - <span>Vietnam</span></p>
<p>{{ 123456.789 | currencyFormat : 'PHP' }} - <span>Philippines</span></p>
<p>{{ 123456.789 | currencyFormat : 'TWD' }} - <span>Taiwan</span></p>
<p>{{ 123456.789 | currencyFormat : 'MXN' }} - <span>Mexico</span></p>
<p>{{ 123456.789 | currencyFormat : 'BRL' }} - <span>Brazil</span></p>
<p>{{ 123456.789 | currencyFormat : 'ZAR' }} - <span>South Africa</span></p>
<p>{{ 123456.789 | currencyFormat : 'TRY' }} - <span>Turkey</span></p>
<p>{{ 123456.789 | currencyFormat : 'RUB' }} - <span>Russia</span></p>
<p>{{ 123456.789 | currencyFormat : 'PLN' }} - <span>Poland</span></p>
<p>{{ 123456.789 | currencyFormat : 'CZK' }} - <span>Czech Republic</span></p>
<p>{{ 123456.789 | currencyFormat : 'HUF' }} - <span>Hungary</span></p>
<p>{{ 123456.789 | currencyFormat : 'SEK' }} - <span>Sweden</span></p>
<p>{{ 123456.789 | currencyFormat : 'NOK' }} - <span>Norway</span></p>
<p>{{ 123456.789 | currencyFormat : 'DKK' }} - <span>Denmark</span></p>
<p>{{ 123456.789 | currencyFormat : 'ISK' }} - <span>Iceland</span></p>
<p>{{ 123456.789 | currencyFormat : 'HRK' }} - <span>Croatia</span></p>
<p>{{ 123456.789 | currencyFormat : 'RON' }} - <span>Romania</span></p>
<p>{{ 123456.789 | currencyFormat : 'BGN' }} - <span>Bulgaria</span></p>
<p>{{ 123456.789 | currencyFormat : 'LTL' }} - <span>Lithuania (note: LTL is outdated, now EUR)</span></p>
<p>{{ 123456.789 | currencyFormat : 'LVL' }} - <span>Latvia (note: LVL is outdated, now EUR)</span></p>
<p>{{ 123456.789 | currencyFormat : 'CYP' }} - <span>Cyprus (note: CYP is outdated, now EUR)</span></p>
<p>{{ 123456.789 | currencyFormat : 'ILS' }} - <span>Israel</span></p>
<p>{{ 123456.789 | currencyFormat : 'GEL' }} - <span>Georgia</span></p>
<p>{{ 123456.789 | currencyFormat : 'RSD' }} - <span>Serbia</span></p>
<p>{{ 123456789 | currencyFormat : 'PKR' }} - <span>Pakistan</span></p>
